/*** Configuraciones globales. ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

:root {
/*     --color-nav: #419197;
    --color-fondo: #F5FCCD;
    --color-item: #78D6C6;
    --color-footer: #12486B;
 */
    --color-nav: #5F8D4E;
    --color-fondo: #E5D9B6;
    --color-item: #A4BE7B;
    --color-footer: #285430;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    grid-template-rows: auto 1fr auto;
    display: grid;
    height: 100vh;
}

/*** Barra de navegación. ***/
.navbar {
    background-color: var(--color-nav);
    /* height: 15vh; */
    /* display: grid; */
    /* align-items: center; */
    /* justify-content: center; */
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.navbar-link i {
    padding-right: 6px;
}
.navbar-link a {
    text-decoration: none;
    font-size: 16px;
    background: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

/*** Sección principal de la pagina. ***/
.main {
    background-color: var(--color-fondo);
    /* height: 70vh; */
    padding: 20px;
}
.main-title {
    padding-bottom: 10px;
}
.main-cards {
    display: grid;
    gap: 0.6rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.main-cards__item {
    background: var(--color-item);
    border: 1px solid var(--color-footer);
    height: 180px;
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}
.main-cards__item i {
    font-size: 4rem;
    color: white;
    margin-bottom: 8px;
}
/* .main-cards__item i:hover {
    transform: scale(1.1);
    transition: 0.5s;
} */
.main-cards__item a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 12px;
}
.main-cards__item a:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


/*** Footer de la pagina. ***/
.footer {
    background-color: var(--color-footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 15vh; */
    height: 100px;
    color: white;
}

/*** Estilos pagina about.html ***/
.main-description {
    font-size: 18px;
}
.main-description p {
    padding-bottom: 8px;
}
.main-description ul {
    padding-left: 20px;
}
.main-description li {
    padding-bottom: 8px;
}

/*** Estilos pagina math.html ***/
.main-forms {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.main-forms__card {
    background: var(--color-item);
    border: 1px solid var(--color-footer);
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}
.main-forms__text i {
    display: flex;
    justify-content: center;
    font-size: 3.3rem;
    padding: 10px;
}
.main-forms__text p {
    padding: 4px 0 10px 0;
}
.main-forms__inputs div {
    display: grid;
    padding-bottom: 10px;
}
.main-forms__inputs label {
    font-weight: 500;
}
.main-forms__inputs input {
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    text-align: end;
}
.main-forms__inputs button {
    padding: 4px;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
.main-forms__inputs button:hover {
    transition: 0.7s;
    background-color: var(--color-nav);
    color: white;
    border: 2px solid white;
}
.main-forms__result {
    /* border: 1px solid white; */
    border-top: 2px solid white;
    padding-top: 10px;
}
.main-forms__result p {
    padding: 4px 0;
}
.main-comment {
    padding: 20px 10px;
    border: 1px solid var(--color-item);
    border-left: 10px solid var(--color-nav);
    border-radius: 4px;
    margin-top: 25px;
}
.main-comment ul {
    padding-left: 20px;
}
.main-comment li {
    padding-top: 5px;
}

/*** Media Query para dispositivos móviles. ***/
@media (max-width: 576px) {
    
    .navbar {
        height: 110px;
    }
    .navbar-title {
        width: 75%;
    }
    .navbar-title h1 {
        width: 95%;
    }
    .navbar-link {
        width: 25%;
        text-align: end;
    }
    .navbar-link a {
        font-size: 16px;
        padding: 8px;
    }
}